<mat-card class="mat-card">
  <mat-card-title class="mat-card-title">
    <input
      *ngIf="isEditMode; else content"
      type="text"
      matInput
      [(ngModel)]="newTitle"
      (blur)="editTitleHandler()"
      (keydown.enter)="editTitleHandler()"
    />

    <ng-template #content>
      <b (dblclick)="activateEditModeHandler()">{{ todo.title }}</b>
    </ng-template>

    <button pButton pRipple icon="pi pi-trash" (click)="removeTodoHandler()"
            class="p-button-warning"></button>
  </mat-card-title>

  <mat-card-content>
    <tl-tasks [todoId]="todo.id"></tl-tasks>
  </mat-card-content>
</mat-card>


